<div class="container">
    <div id="login" class="box container">
        <div class="row">
            <div class="col-12 col-12-medium">
                <form method="post" id="formlogin">
                    <div class="login">
                        <h1>Login</h1>
                        <label for="username"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="username" required>
                        <label for="psswd"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psswd" required>
                        <hr>
                        <input type="submit" class="loginbtn" value="Login"/>
                        <input type="button" class="loginbtn" id="logingmail" value="Login Gmail"/>
                        <input type="button" class="loginbtn" id="loginghub" value="Login GitHub"/>
                    </div>
                    </form>
                <span data-tr="Not have an account?">Not have an account?</span> <a id="register" href="#register">Register</a>.<br>
                <span data-tr="Forget password?">Forget password?</span><a id="fpsswd" href="#urpsswd">Click here</a>
            </div>
        </div>
    </div>
</div>
