<div class="container">
    <div id="login" class="box container">
        <div class="row">
            <div class="col-12 col-12-medium">
                <form method="post" id="formcpsswd" name="formcpsswd">
                    <div class="register">
                        <h1>Change password</h1>
                        <label for="psswd"><b>Password</b></label>
                        <input required ng-model="cpsswd.password" name="password" type="password" placeholder="Enter Password" minlength="2" maxlength="100"/>
                        <span class="text-danger" ng-show="formcpsswd.password.$error.required && formcpsswd.password.$touched">Introduce your password</span>

                        <label for="psswd2"><b>Repeat Password</b></label>
                        <input required ng-model="cpsswd.password2" name="password2" type="password" placeholder="Repeat Password" minlength="2" maxlength="100"/>
                        <span class="text-danger" ng-show="formcpsswd.password2.$error.required && formcpsswd.password2.$touched">Introduce your password</span>
                        <span class="text-danger" ng-show="IsMatch">Introduce the same password</span>
                        <hr>
                        <input type="button" class="psswdbtn" ng-disabled="formcpsswd.password.$invalid && formcpsswd.password2.$invalid" ng-click="submitCpsswd()" value="Change"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
