<div class="container">
    <div id="login" class="box container">
        <div class="row">
            <div class="col-12 col-12-medium">
                <form method="post" id="formpsswd">
                    <div class="login">
                        <h1>Login</h1>
                        <label for="username"><b>Username</b></label>
                        <input type="text" placeholder="Enter username" name="username" id="username" required>
                        <p class="error" id="e_username"></p>
                        <hr>
                        <input type="submit" class="psswdbtn" value="Send"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
