<div class="container">
    <div id="login" class="box container">
        <div class="row">
            <div class="col-12 col-12-medium">
                <form method="post" id="formurpsswd" name="formurpsswd">
                    <div class="login">
                        <h1>Login</h1>
                        <label for="username"><b>Username</b></label>
                        <input required ng-model="rpsswd.username" name="username" type="text" placeholder="Enter Username" minlength="2" maxlength="100"/>
                        <span class="text-danger" ng-show="formurpsswd.username.$error.required && formurpsswd.username.$touched">Introduce your name</span>
                        <span class="text-danger" ng-show="found">This username not exist or not is activated</span>
                        <hr>
                        <input type="button" class="psswdbtn" ng-disabled="formurpsswd.username.$invalid" ng-click="submitRpsswd()" value="Send"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
