<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-7 col-12-medium">
                <h2 id="bannertitle" data-tr="Hi. This is Songnow.">Hi. This is Songnow.</h2>
                <p data-tr="Listen your music whenever and wherever you want">Listen your music whenever and wherever you want</p>
            </div>
            <div class="col-5 col-12-medium">
                <ul>
                    <li><a id="login_button" class="button large icon solid fa-arrow-circle-right account" data-tr="Login">Login</a></li>
                    <li><a id="register_button" class="button alt large icon solid fa-arrow-circle-right account" data-tr="Register">Register</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- <div class="top-content">
    <div class="container-fluid">
        <div id="carousel-example" class="carousel slide" data-ride="carousel"> -->
			<div>
				<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
				  <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
					<img ng-src="{{slide.image}}" style="margin:auto" id="{{slide.ids}}" ng-click="song_modal(slide.ids)">
					<div class="carousel-caption">
					  <p>{{slide.text}}</p>
					</div>
				  </div>
				</div>
			  </div>

			  </div>
        <!-- </div>
    </div>
</div> -->


<div id="features-wrapper">
    <div class="container">
        <h1 id="title_categ" data-tr="TRENDING">TRENDING</h1>
        <div class="form-group">
            <label >Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
        <div class="row" id="categories">
            <div dir-paginate="song in songs|filter:search|itemsPerPage:3" id={{song.id}}>
                <div class="col-4 col-12-medium">
                    <h2>{{song.song_name}}</h2>
                    <section id="c_songs" class="box feature">
                            <img ng-src="frontend/assets/img/{{song.rute}}" id="{{song.id}}" class="song_img" ng-click="song_modal(song.id)"/>
                        <!-- <div class="inner">
                            <header>
                                <h2>{{song.song_name}}</h2>
                            </header>
                        </div> -->
                    </section>
                </div>            
                <!-- <div id="c_songs">
                    <h1>{{song.song_name}}</h1>
                    <img ng-src="frontend/assets/img/{{song.rute}}" id="{{song.id}}" class="song_img"/>
                </div> -->
            </div>
        </div>
        <h1 id="title_categ" data-tr="CATEGORIES">CATEGORIES</h1>
        <div class="row" id="categories">
            <div ng-repeat="cat in cats">
                <div class="col-4 col-12-medium">
                    <section id="cat" class="box feature">
                        <!-- <a href="http://localhost/songnow_AngularJS/#/songs"> -->
                            <img ng-src="{{cat.image}}" id="{{cat.id}}" class="categ_img"/>
                        <!-- </a> -->
                        <div class="inner">
                            <header>
                                <h2>{{cat.text}}</h2>
                            </header>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>

