<div id="footer-wrapper">
    <footer id="footer" ng-controller="footerCtrl" class="container">
        <div class="row" id="products">
            <div class="col-6 col-6-medium" style="margin: auto;">
                <section class="widget links">
                    <h3>Languages</h3>
                    <ul class="style2">
                    <button class="lang_button" data-tr="Spanish" ng-click="spanishl()" id="btn-es"></button>
                    <button class="lang_button" data-tr="English" ng-click="englishl()" id="btn-en"></button>
                    <button class="lang_button" data-tr="Valencian" ng-click="valencianl()" id="btn-va"></button>
                    </ul>
                </section>
            </div>
        </div>
    </footer>
</div>